{{! An Ember component to encapsulate the 'editing' functionality of our input}}
{{#if isEditing}}
    {{edit-text class='edit' value=value focus-out='acceptChanges' insert-newline='acceptChanges'}}
{{else}}
    <label>{{value}}</label>
{{/if}}

